<div class="row">
  <div class="icon-bar two-up">
      {{#link-to 'index' class='item'}}Home{{/link-to}}
      {{#link-to 'todos.index' class='item'}}Todos{{/link-to}}
    </ul>
  </div>
  </div>

{{outlet}}

    
